@import url(fonts.css);
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #121212;
    --ternary-color: dodgerblue;
}
* {
    font-family: "Roboto";
    text-decoration: none !important;
}
.all-btn {
    display: block;
    color: var(--primary-color);
    padding: 10px 30px !important;
    font-weight: 700;
    font-size: 15px;
}
.btn__grad-orange {
    background: linear-gradient(to right, rgba(223, 89, 80, 1) 0, rgba(69, 16, 70, 1) 100%);
    border-radius: 50px;
}
.btn__grad-dodger {
    background: linear-gradient(to right, rgba(200, 154, 252, 1) 0%, rgba(124, 106, 250, 1) 100%);
    border-radius: 50px;
}
/* NAV START */
.nav__navigation {
    backdrop-filter: blur(50px);
}
.nav__link {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.nav__link:hover {
    color: var(--ternary-color);
}
.nav__link.active {
    color:  var(--ternary-color);
}
.nav__navigation {
    padding-top: 20px;
    z-index: 9999;
}
.header {
    display: flex;
    flex-direction: column;
    position: relative;
    background: url(../img/header__bg.png) no-repeat center center / cover;
    min-height: 800px;
    object-fit: cover;
}
/* NAV END */
/* HEADER START */
.header__content {
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.header__title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 50px;
}
.header__title span {
    display: block;
}
.header__time {
    display: flex;
    column-gap: 30px;
}
.header__time-days,
.header__time-hours,
.header__time-minutes,
.header__time-seconds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 36px;
    background: var(--secondary-color);
    padding: 20px 33px;
}
.header__time-days > .header__time-span,
.header__time-hours > .header__time-span,
.header__time-minutes > .header__time-span,
.header__time-seconds > .header__time-span {
    display: block;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 16px;
}
.header__content-bottom {
    background: var(--secondary-color);
    padding: 35px 0;
    width: 100%;
    bottom: 0;
}
.header__content-progress {
    height: 6px !important;
}
.header__content__progress-bar {
    background: linear-gradient(to right, rgba(223, 89, 80, 1) 0, rgba(69, 16, 70, 1) 100%) !important;
}
/* HEADER END */